# ignores any file named "secret.js"
secret.js*
# ignores any directory named "secrets"
secret*
# ignores a file named "hidden.txt" located at the root of your working directory
/hidden.txt
# ignores a directory called "node_modules" located at the root of your working directory
/node_modules/
# ignores any file with a .png extension
*.png
# ignores any file or directory that begins in "cache", such as cache-file-01, cached_assets/, etc.
cache*
# ignores any file or directory that ends in "data", such as project_data/, big_file_of_data
*data
# ignores any file or directory that begins with "log", such as logfile-01, log_assets/, etc.
log*